[Desktop Entry]
Type=Application
Name=Ship of Harkinian
Comment=Enough! My ship sails in the morning!
Icon=org.harbourmasters.soh
Exec=soh
Categories=Game;AdventureGame
Keywords=SoH;
